body{
  background-color : #FFB133!important;
}

.bg{
  background: url('./img/img.jpg')no-repeat right!important;
}

.hide{
  display: none;
}

.navbar-brand h3{
  font-family: 'Kaushan Script', cursive;
}

.navbar-brand h3:before{
  content: '\f0ae';
  font-family: "FontAwesome";
  color: #25ABCE;
}